<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/homenavbar.ejs') %>
<div class="container">
    <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Este é um simples blog da Agrai.</p>
            <hr class="my-4">
            <p>Criamos este blog para compartilhar assuntos relacionados aos produtos orgânicos e seu consumo e produção de forma sustentável.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>
        <hr>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%=article.title%></h2>
                    <div class="card-body">
                        <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                    </div>
                </div>
            </div>
            <br>
       <% }) %>
       <div class="row">
           <div class="col col-12">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="/articles/page/2">Próximo</a></li>
                </ul>
              </nav>
        </div>
       </div>
       <hr>
</div>    
</body>
<%- include('./partials/footer.ejs') %>